.main-about {
  display: flex;
  flex-direction: row;
}
.container-logo {
  display: flex;
  width: 69px;
  height: 85.6vh;
  padding: var(--4, 12px) var(--6, 24px) var(--4, 12px) 20px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px var(--7, 32px);
  flex-shrink: 0;
  flex-wrap: wrap;
}

.container-persoInfo-about-1 {
  display: flex;
  padding: var(--4, 12px);
  flex-direction: column;
  align-items: flex-start;

  align-self: stretch;
  border: solid 1px #314158;
  border-top: none;
  width: 201px;
  height: 84.55vh;
  position: relative;
}
.content-section-about {
  margin-left: 13.5%;
}
.titre-persoInfo-about-1 {
  color: var(--primitive-slate-50, #f8fafc);
  font-family: var(--font-family-text, "Fira Code");
  font-size: var(--font-size-body-md, 16px);
  font-style: normal;
  font-weight: 450;
  line-height: var(--line-height-body-md, 24px); /* 150% */
  border-bottom: none;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.titre-persoInfo-about-1::after {
  content: "";
  position: absolute;
  left: calc(-1 * var(--4, 12px));
  right: calc(-1 * var(--4, 12px));
  bottom: 0;
  height: 1px;
  background: #314158;
  width: auto;
}

.container-menu-persoInfo-about-1 {
  color: var(--primitive-slate-50, #90a1b9);
  font-family: var(--font-family-text, "Fira Code");
  font-size: var(--font-size-body-md, 16px);
  font-style: normal;
  font-weight: 450;
  line-height: var(--line-height-body-md, 24px); /* 150% */
  border-bottom: none;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 12px;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-menu-persoInfo-about-1::after {
  content: "";
  position: absolute;
  left: calc(-1 * var(--4, 12px));
  right: calc(-1 * var(--4, 12px));
  bottom: 0;
  height: 1px;
  background: #314158;
  width: auto;
}

.contacts-persoInfo-about-1 {
  color: var(--primitive-slate-50, #f8fafc);
  font-family: var(--font-family-text, "Fira Code");
  font-size: var(--font-size-body-md, 16px);
  font-style: normal;
  font-weight: 450;
  line-height: var(--line-height-body-md, 24px); /* 150% */

  border-bottom: none;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 12px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.contacts-persoInfo-about-1::after {
  content: "";
  position: absolute;
  left: calc(-1 * var(--4, 12px));
  right: calc(-1 * var(--4, 12px));
  bottom: 0;
  height: 1px;
  background: #314158;
  width: auto;
}
.container-persoInfo-mail-about-1 {
  color: var(--theme-foreground, #90a1b9);
  font-family: var(--font-family-text, "Fira Code");
  font-size: var(--font-size-body-md, 16px);
  font-style: normal;
  font-weight: 450;
  line-height: var(--line-height-body-md, 24px); /* 150% */
  white-space: nowrap; /* Ne pas aller à la ligne */
  overflow: hidden; /* Masquer ce qui dépasse */
  text-overflow: ellipsis;
  width: 100%;
  padding-bottom: 12px;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-menu-persoInfo-about-1 p,
.container-persoInfo-mail-about-1 p {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* !!!!!!!!!!!!!!!!!!!!section 2 !!!!!!!!!!!!!!!! */
.section-about-2 {
  width: 48%;
}
.container-header-all-about-2{
    display: flex;
}
.container-header-about-2 {
  color: var(--theme-foreground, #90a1b9);
  font-family: var(--font-family-text, "Fira Code");
  font-size: var(--font-size-body-md, 16px);
  font-style: normal;
  font-weight: 450;
  line-height: var(--line-height-body-md, 24px); /* 150% */
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding-bottom: 12px;
  display: flex;
  position: relative;
  border: 1px solid #314158;
  border-top: none;
  border-left: none;
  vertical-align: middle;
  width: 242px;
  padding: var(--4, 12px) var(--6, 24px);
  align-items: center;
  gap: 12px;
  justify-content: space-between;
} 

.container-header-about-2 img {
  height: 1em; /* adapte la hauteur à celle du texte */
  width: auto; /* garde le ratio de l'image */
  display: inline-block; /* s'assure que l'image s'aligne avec le texte */
  vertical-align: middle;
  margin: 0; /* enlève tout espace autour */
  padding: 0;
}
.container-header-2-about-2{
    width: 100%;
    height: 50px;
    border: 1px solid #314158;
    border-top: none;
    border-left: none;
}