.main-projects {
  display: flex;
  width: 100%;
}

.section-2-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.section-2-content-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: clamp(8px, 2vw, 32px);
}

.section-2-content {
  display: flex;
  width: calc(50% - clamp(8px, 2vw, 32px));
  flex-direction: column;
  align-items: flex-start;
  gap: var(--5, 16px);
  flex-shrink: 0;
  padding: var(--10, 64px) var(--10, 64px) 0px var(--10, 64px);
  min-width: 300px;
}

@media (min-width: 1200px) {
  .section-2-content {
    width: calc(33.333% - clamp(8px, 2vw, 32px));
  }
}

.section-2-content-titre p {
  color: var(--theme-foreground, #90a1b9);
  font-family: var(--font-family-text, "Fira Code");
  font-size: var(--font-size-body-md, 16px);
  font-style: normal;
  font-weight: 450;
  line-height: var(--line-height-body-md, 24px);
}

.section-2-content-titre span {
  color: var(--primitive-indigo-500, #615fff);
  font-family: var(--font-family-text, "Fira Code");
  font-size: var(--font-size-body-md, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-body-md, 24px);
}

.section-2-content-main {
  display: flex;
  height: 324px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-top: var(--0, 0px) solid var(--primitive-slate-800, #1d293d);
  border-right: 1px solid var(--primitive-slate-800, #1d293d);
  border-bottom: 1px solid var(--primitive-slate-800, #1d293d);
  border-left: 1px solid var(--primitive-slate-800, #1d293d);
  background: var(--primitive-slate-950, #020618);
  border-radius: 15px;
  padding: var(--7, 32px);
  gap: 21px;
  position: relative;
  justify-content: flex-end;
}

.section-2-img-projects {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  z-index: 2;
}

.section-2-content-main p {
  color: var(--theme-foreground, #90a1b9);
  font-family: var(--font-family-text, "Fira Code");
  font-size: var(--font-size-body-lg, 18px);
  font-style: normal;
  font-weight: 450;
  line-height: var(--line-height-body-lg, 27px);
}

.section-2-content-main button {
  display: flex;
  padding: var(--button-top-bottom, 10px) var(--button-left-right, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--3, 8px);
  background: var(--primitive-slate-600, #45556c);
  border: none;
  cursor: pointer;
}
@media (max-width: 1024px) {
  
  .section-2-content {
    padding: var(--5, 32px) var(--5, 32px) 0px var(--5, 32px);
  }
  .section-2-content-main p {
    font-size: var(--font-size-body-lg, 15px);
    line-height: var(--line-height-body-lg, 27px);
  }
  .section-2-img-projects {
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
  }
}
@media (max-height: 1070px) {
  .section-2-content-all {
    max-height: 80vh;         /* Limite à la hauteur de l'écran */
    overflow-y: auto; 
    margin-bottom: 50px;         /* Scroll si ça déborde */
  }
}

